<%= form_with(model: candidate_task) do |form| %>
  <% if candidate_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate_task.errors.count, "error") %> prohibited this candidate_task from being saved:</h2>

      <ul>
        <% candidate_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.number_field :task_id %>
  </div>

  <div class="field">
    <%= form.label :candidate_id %>
    <%= form.number_field :candidate_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
